/*Reset Stylesheet*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

body {
  line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
  display:block;
}

nav ul {
  list-style:none;
}

blockquote, q {
  quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content:'';
  content:none;
}

a {
  margin:0;
  padding:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

/* change colours to suit your needs */
ins {
  background-color:#ff9;
  color:#000;
  text-decoration:none;
}

/* change colours to suit your needs */
mark {
  background-color:#ff9;
  color:#000; 
  font-style:italic;
  font-weight:bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom:1px dotted;
  cursor:help;
}

table {
  border-collapse:collapse;
  border-spacing:0;
}

/* change border colour to suit your needs */
hr {
  display:block;
  height:1px;
  border:0;   
  border-top:1px solid #cccccc;
  margin:1em 0;
  padding:0;
}
input, select {
  vertical-align:middle;
}
/*General*/
html{
  margin-top:0;
  padding-top:0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  max-width: 1000px;
  margin: auto;
  width: 100%;


}
a{
  text-decoration: none;
  font-size: 0.8rem;
}

h1{
  font-weight: bold;
  font-size: 2rem;
  padding-top: 2rem;
  padding-bottom: 0.5rem;
}

h2{
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 0;
}

h4{
  font-weight:normal;
  font-size: 0.8rem;
  line-height: 24px;
}

h5{
  margin: 2rem 0;
}

a.button{
  padding: 0.3rem 1rem 0.3rem 1rem;      
}

body {
  width: 100%;
}

a:hover{
  color: #D8D8D8;
  background-color: #4A4A4A;
  border-radius: 1rem;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;  
}
span{
  white-space: nowrap;
}

/*Header*/

#campus{
  display: none;
  pointer-events:none;
}
#online{
  display: none;
  pointer-events:none;
}
#login{
  display: none;
  pointer-events:none;
}

header{
  display: flex;
  align-items: center;
  width: 100%;
  height: 64px;
  background-color: white;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}
  
.logo{
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: center;
  pointer-events: none;
}

.logo img {
  width: auto;
  height: 50px;
  padding-left: 1.5rem;
  padding-top: 1rem;
}

a{
  color: black;
  padding: 0.3rem;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
}



  /*Top Banner*/

.mobile img{
  display: none;
}

#topbanner{    
  display: flex;
  align-items: center;
  background-color: #D8D8D8;
  width: 100%;
}

.banner {
  width: 60%;
  margin: 2rem 1.5rem 2rem 1.5rem;
  display: table-cell;
  vertical-align: middle;    
}


.banner img {
  width: 100%;
  overflow: hidden;
  min-width: 100%;
}

#largetext {    
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  width: 0%;
  min-width: 40%;
}  

#largetext h1{
  padding-top: 0px;
  padding-bottom: 2rem;
  width: 68%;

}

#largetext h2{
  margin-bottom: 2rem;
  width: 68%;

}

#button1{
  background-color: #4A4A4A;
  color: #D8D8D8;
  text-align: center;
  text-decoration: none;
  border:3px solid #4A4A4A;
  display: block;
  font-size: 1rem;
  min-width: 70%;
  padding: 1rem 0;
  border-radius: 1rem;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}
#button1:hover{
  background-color: #D8D8D8;
  color: #4A4A4A;
  font-weight: bold;
  border-radius: 1rem;
  border:3px solid #4A4A4A;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.description {    
  display: block;
    
  width: 40%;
  height: 40%;
  text-align: left;
  float: left;
}

.description a {
  background-color: #4A4A4A;
  padding: 0.5rem 8rem 0.5rem 8rem;
  color: #D8D8D8;

}

/*Second Banner*/

.mobile{
  display: none;
}

#secondbanner {
  display: flex;
}

#smalldescriptions{
  width: 40%;  
  min-width: 40%;
}

#secondbanner .smalldescription:hover{
  background-color: #D8D8D8;
}

#secondbannerleft {
  margin: 2rem 1.5rem 0 1.5rem;
}

.smalldescription {    
  display: flex;
  align-items: center; 
  border: 1px solid #D8D8D8;
  width: 100%;
  height: 33%;
}

.smallimages{
  display: flex;
  align-items: center;
  margin: 1rem ;
  width: 35%;
  background-size: cover;
}

.smallimages img{
  display: flex;
  width: 100%;    
}
.desktop{
  width: 100%;
}

.smalltext {
  display: inline-block;
  width: 65%;
  margin-left: -0.5rem;

}

.smalltext h2{
  margin-left: 1rem;
}
.smalltext h4{
  margin-left: 1rem;
  margin-top: 0.5rem;
}



/*Third Banner*/

.thirdbanner {
  background-color: #D8D8D8;
  width: 100%;
}

.thirdbanner h1 {
  text-align: center;
  padding-top: 2rem;
}


.container {
  display: grid;
  justify-content: center;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 48% 48%;
  grid-gap: 2rem;
  padding: 1rem 4rem 2rem 4rem;
}
.middleimages {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
  height: auto;
  overflow: hidden; 
  text-overflow: ellipsis;
  transition: ease-in-out;
  -webkit-transition: ease-in-out;
  -moz-transition: ease-in-out;
  -ms-transition: ease-in-out;
  -o-transition: ease-in-out;
}

.middleimages img {
    height: 60%;
}

.middleimages a:hover{
    font-weight: bold;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.middleimages:hover{
  width: 110%;
  height: 110%;
  box-shadow: 0 1rem 2rem rgba(0,0,0,0.5);
  z-index: 1;
}

.middleimages h2{
    padding: 1rem 0 1rem 0.7rem;
}
.middleh4{
    line-height: 0rem;
    margin-bottom: -1rem;
}
.middleimages h4{
    padding: 0 0 1.5rem 1rem;
    line-height: 1.5rem;  
}



/*Last Banner*/
.lastbannerleft {
    width: 60%;
    margin: 2rem 1.5rem 2rem 0;
    display: table-cell;
    vertical-align: middle;    
}

#descriptionlastbanner{
    width: 40%;
    margin: 2rem 0 2rem 0;
    display: table-cell;
    vertical-align: middle;
}
#descriptionlastbanner .smalltext{
    margin-left: -1rem;
}
.lastbannerh1{
    display: flex;
    justify-content: center;
    margin: 
  }
#lastbanner {
    display: flex;
    justify-content: center;
    width: 100%;  
    background-color: white;
}

#lastbanner .smalldescription:nth-child(1){
    background-color: #D8D8D8;
}
#lastbanner .smalldescription:nth-child(1):hover{
  background-color: #fff;
}
#lastbanner .smalldescription:nth-child(2):hover{
  background-color: #D8D8D8;
}
/*Footer*/

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 64px;

}
#copyright{
    display: flex;
    position: relative;
    float: left;
}

#footerlinks{
    display: flex;
    position: relative;
    float: right;
}

/*Media Queries*/
@media only screen and (max-width: 900px) {
    h1{
      font-size: 1.3rem;
    }
    h2{
      font-size: 1rem;
    }
    h4{
      font-size: 70%;
    }
    h4 a{
      font-size: 70%;
      padding: 0.1rem;
    }
    .banner h5{
      font-size: 80%;
    }
    #largetext h1{
      width: 90%;
    }
    #largetext h2{
        font-size: 1rem;
        width: 90%;
    }
    .smalltext h2{
      font-size: 0.8rem;
    }
}

@media only screen and (max-width: 760px) {
  .middleimages h2{
    font-size: 80%;
  }
  .middleimages h4{
    font-size: 60%;
  }
}


@media only screen and (max-width: 590px) {
  h1{
    font-size: 2rem;
  }
  h2{
    font-size: 1.5rem;
  }
    body{
      width: 100%;
    }
    #campus{
      display: flex;
      pointer-events: all;
    }
    #online{
      display: flex;
      pointer-events: all;
    }
    #login{
      display: flex;
      pointer-events: all;
    }
    .logo{
      justify-content: space-around;    
    }
    .logo img{
      padding: 0;
    }
    a{
      padding: 0;
    }
    .logo h3{
      display:none;
    }
    header nav {
      display:none;
    }

    #topbanner{
      display: inline;
      background-color: #ffffff;
    }     
    .banner{
      display: block;
      width: 100%;
      margin: auto;
    }
    .banner img{
      width: 100%;
    }
    #topbannerleft{
      display: flex;
    }
    .mobile{
      display: flex;
      margin-left: 1rem;
      width:96%;
      padding-top: 4rem;
    }
    #secondbanner .mobile:nth-child(1) {
      padding-top: 0;
    }
    #largetext{
      width: 100%;
      display: block;
      margin-left: 0;
      margin-bottom: -4rem;
      background-color: #D8D8D8;
    } 
    #largetext h1{
      padding-top: 2rem;
      padding-left: 1rem;
    }
    #largetext h2{
      padding-left: 1rem;
    }
    #button1{
      width: 100%;
      margin-bottom: 4rem;
      padding: 1rem 0;
    }
    #secondbannerleft{
      display: none;
    }
    .desktop{
      display: none;
    }
    #secondbanner{
      display: block;    
    }
    #secondbanner .smalldescription:nth-child(3){
      background-color: white;
    }

    #smalldescriptions{
      width: 100%;
      display: inline-block;
    }
    .smalldescription{
      display: block;
      background: none;
      border: none;
    }
    .smalldescription h2{
      margin-top: 1rem;
    }
    .smallimages {
      width:100%;
      margin: 0;
    }
    .smallimages img {
      height: 80%; 
    }
    .smalltext{
      margin-left: 2rem;
    }

    .middleimages img{
      display: none;
    }
    .middleimages h4{
      display: none;
    }
    .middleimages h2{
      padding: 1rem 0 1.5rem 1rem;
      margin-bottom: 0.5rem;
      width: 90%;
      background-color: #D8D8D8;
    }
    .middleimages h2:hover{
      background-color:#4A4A4A;
    }
    .height24px{
      display: none;
    }
    .container {
      justify-content: center;
      display: block;
      width: 100%;
      padding: 0 1rem 1rem 1rem;
      background-color: #ffffff
    }
    .thirdbanner{
      background-color: #ffffff;    
    }
    .middleimages{
      background-color: #D8D8D8;
      display: initial;
      width: 100%;
    }
    #descriptionlastbanner{
      display: none;
    }
    #lastleftdescription{
      display: none;
    }
    #lastbanner{
      justify-content: flex-start;
    }
    #lastbanner video{
      width: 165%;
      

    }
    footer a{
      display: none;
    }


    }
  /* .lastbanner .smalldescription{
      display:none;
    }*/
  /* .banner h1{
      display: none;
    }
    .banner h4{
      display: none;
    }
    .banner{
      width: 100%;
    }*/
}